
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name=”SimpleURL” stopProcessing=”true”>
                    <match url=”(.*)” />
                    <action type=”Redirect” url=”http://www.clanwilson.net/ Jump appendQueryString=”false” redirectType=”Permanent” />
                </rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>

